.body-container {
    background: url('img/benjamin-voros-phIFdC6lA4E-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;  
    width: 100%;  
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
    backdrop-filter: blur(5px);
    overflow: hidden;;
    
}   

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 0px;
    height: 500px;  
    background:linear-gradient(to top,rgba(100, 100, 100, 0.59),rgba(255, 255, 255, 0.547));
    border-radius: 20px;
    backdrop-filter: blur(1000px);
    opacity: 1;
    
}
.title,button,li,#question,#score{
    color: rgb(237, 198, 237);
    
}
#quiz-container {
    /* background-color: #f9f9f9;
    background: linear-gradient(60deg,blanchedalmond 0%,white 100%); */
    padding: 20px;
    /* border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px; */
    text-align: center;
}
/* #question,#options {
    font-size: 20px;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, #4b58ccc9 0%, #0d77e051 100%);
} */
#options {
    list-style-type: none;
    font-size: 18px;
}
#options li {
    margin: 10px 0;
}
button,#question,#options {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 10px;
    border-color: blanchedalmond;
    color: black;
}
