.body-container {
    background: url('img/benjamin-voros-phIFdC6lA4E-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;  
    width: 100%;  
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
    backdrop-filter: blur(5px);
    overflow: hidden;;
    
}
.main-container{
    background-color: rgba(245, 245, 220, 0.436);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#quiz-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    width: 400px;
}
#options li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
    transition: all 0.3s ease;
}
#options li {
    transition: all 0.3s ease;
    padding: 5px;
    background-color: rgba(55, 55, 127, 0.353);
    margin: 5px;
    list-style: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    
}
#suivant{
    margin-top: 15px;
    padding: 7px;
    background-color: rgba(55, 55, 127, 0.353);
    border: none;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    width: 100%;
}
#question{
    font-size: 1.2em;
    text-align: center;
}
#options ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
#options{
    width: 100%;
}